<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chenliu.madcourse.neu.edu.numad18s_chenliu">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity" />
        <activity android:name=".TestDictionary" />
        <activity android:name=".Acknowledgement" />
        <activity
            android:name=".UTTT.UTTTMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UTTT.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scroggle.ScroggleGameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scroggle.ScroggleMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scroggle.ScroggleStatus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scroggle.Leaderboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scroggle.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Scroggle.Scoreboard"
            android:screenOrientation="portrait" />

        <service android:name=".FCM.WordGameInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FCM.WordGameMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".AnimalSudoku.AS_MainActivity"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".AnimalSudoku.AS_MapActivity"
            android:parentActivityName=".AnimalSudoku.AS_MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AnimalSudoku.AS_ProgressActivity"
            android:parentActivityName=".AnimalSudoku.AS_MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AnimalSudoku.AS_GameActivity"
            android:parentActivityName=".AnimalSudoku.AS_MainActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>